.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(246, 132, 246);
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  width: 8vw;
  background-color: greenyellow;
  margin: 2em;
  border: 2px black solid;
  padding: 1em;
  margin-left: 4em;
  margin-right: 4em;
  display: flex;
  flex-direction: column;
}

.image {
  width: 7vw;
  height: 20vh;
  align-self: center;
}
.title {
  margin-bottom: 3em;
}
