* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
  }

  .contect {
    width: 100vw;
    background-image: url("build.jpeg");
    height: 100vh;

  }

  .header {
    background-color: darkslategrey;
    display: flex;
    flex-direction: row;
    color: white;
    text-transform: uppercase;
    height: 50px;
    justify-content: center;
    align-items: center;
  }

  .header a {
    background-color: rgb(34, 141, 191);
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    padding: 8px;
    margin-left: 10px;
  }

  .caption {
    text-align: center;
    font-size: 48px;
    display: flex;
    justify-content: center;
    width: 70vw;
    margin: auto;
    margin-top: 20px;
    padding-top: 30px;
    text-transform: uppercase;
    color: white;
  }


  .form-all {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white  ;
    text-transform: uppercase;

  }

  .form {
    display: flex;
    flex-direction: row;    
    justify-content: center;
    margin: 50px;
    flex-wrap: wrap;

  }

  .form input, .form select {
    margin-top: 10px;
    width: 250px;
    height: 40px;
    border: 0px;
    border-radius: 5px;

  }

  .each {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .big select {
    width: 800px;

  }

  .sub {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .sub {
    width: 60vw;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }

  .submit {
    margin-top: 50px;
    color: aliceblue;
    background-color:rgb(34, 141, 191);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    border: 0px;

  }
