@import url('https://fonts.googleapis.com/css?family=Raleway');

.body {
    height: 100vh;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}

.languages {
    font-family: "Lucida Console", "Courier New", monospace;
}

#getKnow {
    background-color: rgb(203, 69, 69);
}

.light {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.current, .nav-link:hover {
    color: gray;
    text-decoration: underline;
}

.body {
    background-image: url(images/matrix-356024_1920.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;

}
.green-background {
    background-color: #005d00;
    padding-top: 30px;
    color: #f6f6f6;
    height: 100vh;
}

.background {
    padding-top: 30px;
    color: #f6f6f6;
    height: 100vh;
}
.about-avatar img {
        width: 100%;
        height: 100%
      }
      
.about-avatar img:hover {
    animation: route 1s linear infinite;
    }

  @keyframes route {
    25% {
        transform: rotate(20deg); /* W3C */
    }
    75% {
        transform: rotate(-20deg); /* W3C */

    }
  }

img {
    vertical-align: middle;
}

.listcode {
    list-style: none;
}

.purple {
    color: rgb(203, 129, 226);
}

.portfolio img {
    min-width: 100%;
    min-height: 100%;
    position:absolute;
    height: 200px;

}

.portfolio .card {
    height: 200px;
}

@media only screen and (max-width: 992px) and (min-width: 500px) {
    .portfolio .card {
        height: 150px;
    }
    .portfolio img {
        min-width: 100%;
        min-height: 100%;
        position:absolute;
        height: 150px;
    
    }
  }


.blog .card img {
    width: 100%;
    height: 10%;
}

.blog .card {
    height: 400px;
}

.contact textarea, .contact input {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #232434;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 30px;
    padding-top: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.contact input {
    height: 60px;    
 }  
    
.form-control::placeholder {
    color: #47154f;
    opacity: 1;
}
    
.btn-contact-bg {
    border-radius: 30px;
    background: rgb(72, 0, 0);
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: medium none !important;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
    width: 100%;
}
    
.btn-contact-bg:hover,
.btn-contact-bg:focus {
    background: white;
    color: rgb(203, 129, 226);
}

    
    .single_address i {
        background: #f6f6f6;
        border-radius: 30px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 22px;
        -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
        margin: 10px;
    }

    .single_address i:hover {
        -webkit-box-shadow: 20px 20px 30px 20px rgba(0, 0, 0, 0.2);
        box-shadow: 20px 20px 30px 12px rgba(0, 0, 0, 0.2);
    }
    

