/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 .map {
  height: 85%;
}

.mapSmall {
  height: 60%;

}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  background-color:slateblue;
  margin: 0;
  padding: 0;
}

#searchTextField {
  display: flex;
  margin: auto;
  height: 40px;
  width: 200px;
  margin: 10px auto;
  background-color: lightgoldenrodyellow;
  text-align: center;
  font-weight: bolder;
  border-radius: 6px;

  ;}

  .card {
    background-color: lightgoldenrodyellow;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;

  }
#button {
  display: block;
  height: 40px;
  width: 200px;
  margin: 10px auto;
  background-color: lightgoldenrodyellow;
  text-align: center;
  font-weight: bolder;
  border-radius: 6px;
  cursor: pointer;
  ;}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

#stories {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}

.popup {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 240px;
  font-size: larger;
  background-color: slateblue;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 20%;
  margin: -130px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
}
