.together {
    width: 45vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;


}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-content {

    background-color: #fefefe;
    border: 1px solid #888;
    margin: 25% auto 5% auto;
    width: 60%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 80vh;

  }

  .clothes {
    margin-top: 100px;
  }