* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
  }

.header{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 8%;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    position:fixed;
    bottom: 92%; width: 100%;

  }

    .header ul {
        display: flex;
        flex-direction: row;
        height: 50px;
        list-style: none;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }

        .header ul li {
            padding: 10px;
        }

        .header .logo {
            color: antiquewhite;
        }

        .header ul a {
            color: antiquewhite;
            text-decoration: none;
        }

        .header ul b {
            text-transform: uppercase;
        }

.clothes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;

}

.col {
    display: flex;
    flex-direction: column;
    text-align: center; 
    line-height: 2em;
    padding: 10px;
    margin-bottom: 20px;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.newprice {
    color: rgb(30, 135, 30);
}

.old {
    text-decoration: line-through;
    margin-left: 5px;
}

.also{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    border-radius: 5px;

}

.together {
    width: 22vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;

}

.also:hover .icons {
    display: flex;
    position: absolute;
    align-self: center;
}

    .icons {
        display: none;
    }

    .icons i {
        background-color: aliceblue;
        opacity: 0.9;
        margin: 10px;
        padding: 10px;
        width: 40px;
        height: 35px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        border-radius: 2px;
    }

.fa-solid:hover {
    background-color:green;
    color: aliceblue;

}

    .fa-eye:hover::after {
        content: 'Quick View';
        font-size: 10px;
        white-space: nowrap;
        width: 70px;
        justify-content: center;
        padding: 8px;
        border-radius: 8px;
        color: #fff;
        background-color: black;
        display: flex;
        position: relative;
        right: 30px;
        bottom: 70px;
        opacity: 1;
    }


    .fa-bag-shopping:hover::after {
        content: 'Add To Wishlist';
        font-size: 10px;
        white-space: nowrap;
        width: 110px;
        justify-content: center;
        padding: 8px;
        border-radius: 8px;
        color: #fff;
        background-color: black;
        display: flex;
        position: relative;
        right: 50px;
        bottom: 70px;
        opacity: 1;
    }


    .fa-cart-shopping:hover::after {
        content: 'Add To Cart';
        font-size: 10px;
        white-space: nowrap;
        width: 80px;
        justify-content: center;
        padding: 8px;
        border-radius: 8px;
        color: #fff;
        background-color: black;
        display: flex;
        position: relative;
        right: 40px;
        bottom: 70px;
        opacity: 1;
    }



.one {
    background-image: url(image1.png);
    background-size: cover;
}


.two {
    background-image: url(image2.png);
    background-size: cover;
}


.three {
    background-image: url(image3.png);
    background-size: cover;
}


.four {
    background-image: url(image4.png);
    background-size: cover;
}

.five {
    background-image: url(image5.webp);
    background-size: cover;
}

.new, .per {
    height: 50px;
    padding: 10px;
    color: aliceblue;
    border-radius:50px;
    padding-top: 10px;
    font: bold;
}

    .new {
        background-color: green;
    }

    .per {
        background-color: red;
    }

.add {
    text-transform: uppercase;
    width: 10vw;
    height: 5vh;
    background-color: #fff;
    color: rgb(34, 34, 34);
    border: 1px solid rgb(34, 34, 34) ;
    cursor: pointer;
    justify-content: center;
  }

  button:hover {
    background-color: green;
    color: aliceblue;
  }
  

#footermain {
    background-color: black;
    color: aliceblue;
    text-align:center ;
    width: 100vw;
    height: 5vh;
    margin-top: 20px;
  }
