body {
    background-color: skyblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

.each {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.theGame {
    display: flex;
    width: 320px;
    margin: auto;
}

#chosing, #situation, #restart {
    display: flex;
    justify-content: center;
    margin: auto;
}