.todo-complete {
    text-decoration: line-through;
    color: red;
  }

.eachLine {
    display: flex;
    justify-content: space-around;
    width: 40vw;

}

#todo {
    width: 40px;
    align-items: center;
}