.todo-complete {
    text-decoration: line-through;
    color: red;
  }

.eachLine {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    margin-top: 10px;

}

#todo {
    width: 30px;
    align-items: center;
}

body {
    margin: 20px;

}